<footer class="pups-standard-width-container">
  <div class="footer-inner-container pups-standard-width-inner-container">
    <div class="footer-section contact-details">
      <div class="icon-text">
        <i class="svg-container info-bar phone" [inlineSVG]="'/assets/images/icons/phone.svg'"></i>
        <a href="tel:+447708678489">07708678489</a>
      </div>

      <div class="icon-text">
        <i class="svg-container info-bar mail relative-size" [inlineSVG]="'/assets/images/icons/mail.svg'"></i>
        <a href="mailto:amy@pupschool.co.uk?subject=Training Enquiry&">amy@pupschool.co.uk</a>
      </div>

      <div class="icon-text">
        <i class="svg-container info-bar mail relative-size" [inlineSVG]="'/assets/images/icons/facebook.svg'"></i>
        <a href="https://www.facebook.com/pupschooltraining/">facebook.com/pupschooltraining</a>
      </div>
    </div>

    <div class="footer-section logos">
      <a href="https://www.facebook.com/AssistanceDogTrainingAndEducationSupportNetwork/">
        <div class="image-container">
            <img src="/assets/images/sponsors/assistance_dog.jpg">
        </div>
      </a>

      <a class="image-container" href="https://www.dogstrust.org.uk/donation/">
        <img src="/assets/images/sponsors/dogsTrust.svg">
      </a>
    </div>
  </div>
</footer>
