@import "src/scss/colors";
@import "src/scss/dimensions";

.svg-container.logo {
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}

nav {
  background-color: $color-accent2;
  padding-left: 0;
  padding-right: 0;
  a {
    color: $color-secondary;
  }
}
.nav-item {
  display: none;
}