<section class="testimonials-section">
  <div class="corner-quote top-left">
    <div class="svg-container info-bar mail relative-size" [inlineSVG]="'/assets/images/icons/quote-mark.svg'"></div>
  </div>
  <div class="corner-quote bottom-right">
    <div class="svg-container info-bar mail relative-size" [inlineSVG]="'/assets/images/icons/quote-mark.svg'"></div>
  </div>
  <div class="main-container">
    <div class="text">
      <div class="quote">Freddie has finally stopped pulling on the lead! Should have booked in with you sooner!</div>
      <div class="name">Stephanie - Burgess Hill</div>
    </div>
  </div>
</section>