@import "scss/colors";
@import "scss/fonts";
@import "scss/dimensions";
@import "scss/inline-svgs";

@import "scss/components/testimonials";
@import "scss/components/offerings";
@import "scss/components/footer";

@import "scss/sub-components/item-text";
@import "scss/sub-components/standard-width-container";
@import "scss/sub-components/bullets-container";

body {
  background-color: $color-accent-faded;
}

img {
  width: 100%;
  height: auto;
}
