/* You can add global styles to this file, and also import other style files */
$color-blue: #0094FF;

.svg-container.logo {
  svg {
    width: 100%;
    height: 100%;
    path, ellipse {
      fill: $color-blue;
    }
  }
}