//https://coolors.co/0094ff-031a6b-033860-087ca7-004385
$color-accent: #0094FF;
$color-accent-faded: #E7F5FF;
$color-accent2: #031A6B;
$color-accent3: #033860;
$color-accent4: #087CA7;
$color-accent5: #004385;